<mat-nav-list>
  <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
    <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
  </a>
  <a mat-list-item routerLink="/movies" (click)="onSidenavClose()">
    <mat-icon>movie</mat-icon> <span class="nav-caption">Movies</span>
  </a>
  <a mat-list-item routerLink="/tv-shows" (click)="onSidenavClose()">
    <mat-icon>tv</mat-icon><span class="nav-caption">Series</span>
  </a>
  <a mat-list-item routerLink="/personal-list" (click)="onSidenavClose()">
    <mat-icon>list</mat-icon><span class="nav-caption">Personal List</span>
  </a>
  <a mat-list-item routerLink="/personal-list" (click)="onSidenavClose()">
    <mat-icon>favorite</mat-icon><span class="nav-caption">Favorites</span>
  </a>
  <a mat-list-item routerLink="/personal-list" (click)="onSidenavClose()">
    <mat-icon>person</mat-icon><span class="nav-caption">Profile</span>
  </a>
</mat-nav-list>
