<mat-toolbar>
  <div>
    <button mat-icon-button class="burger-menu" (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <span class="title">My Movie Database</span>
  <div class="main-menu">
    <ul>
      <li>
        <a routerLink="/movies">Movies</a>
      </li>
      <li>
        <a routerLink="/tv-shows">TV-Shows</a>
      </li>
      <li>
        <a routerLink="/personal-list">Personal List</a>
      </li>
    </ul>
  </div>
  <span class="spacer"></span>
  <mat-form-field class="search" appearance="outline">
    <mat-label>Search</mat-label>
    <input class="search-input" matInput [formControl]="searchField">
    <button matSuffix mat-icon-button aria-label="Clear" type="submit" (click)="searchMovie()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
  <div class="icon-menu">
    <a class="fav-icon"><mat-icon>favorite</mat-icon></a>
    <a class="acc-icon"><mat-icon>account_circle</mat-icon></a>
  </div>
</mat-toolbar>
